.md-order{
	height:calc(100% - .5rem );
	background:#F2F2F2;
	overflow-y:auto;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	//margin-top:.4rem;

	.order-box.all{ margin-bottom:.6rem; }
	.order-box.done .order-info:before{
		content: '';
	    position: absolute;
	    display: inline-block;
	    height: .1rem;
	    width: .1rem;
	    border-left: 2px solid #333;
	    top: -.1rem;
	    left: .3rem;
	}
	.order-box{

		margin:.2rem .1rem;

		.title{
			text-align: center;
			font-size: .14rem;
			position:relative;
			height: .3rem;

			span{
				display: inline-block;
				width:1.18rem;
				height: .3rem;
				line-height: .3rem;
				text-align: center;
				border:1px solid #999;
				border-radius:10px;
				background:#fff;
				position: absolute;
				left:50%;
				margin-left:-.59rem; 
				z-index: 2;
			}
			.line{
				position:absolute;
				width:100%;
				border:1px solid #999;
				left:0;
				top:.15rem;
				z-index: 1;
			}

		}


		.order-list{

			.order-info{

				//overflow: hidden;
				background:#fff;
				height: .9rem;
				margin-top: .1rem;
				//border-radius: 5px;
				position:relative;

				.if-lf{
					float:left;
					width:2.5rem;
					padding-left: .1rem;
					font-size: .15rem;

					.order-title{
						height: .45rem;
						line-height:.45rem;
						color:#111;
						font-weight: 600;
						overflow: hidden;
					    text-overflow: ellipsis;
					    vertical-align: middle;
					    width: 100%;
					}
					.order-person{
						height: .45rem;
						line-height: .45rem;

						span{
							display: inline-block;
							width:.65rem;

							em{
								font-style: normal;
							}
						}
					}
				}
				.if-rt{
					float:right;
					width:.75rem;
					height: .9rem;
					text-align: center;
					display: flex;
					justify-content: center;
					flex-direction: column;
					border-radius: 0 5px 5px 0;
					i{
						font-size: .35rem;
					}
					span{
						display: inline-block;
						width:100%;
					}
				}
				.if-rt.weitianxie{background:#fffccc;}
				.if-rt.daihedui{background:#FFCC00;}
				.if-rt.yiqueren{
					background:#2E9DE6;
					color: #fff;
					i{ color:#fff; }
				}
			}

		}
	}
}
.order-container{
	margin-top:.15rem;

	.order-date{
		width:1.18rem;
		height: .3rem;
		line-height: .3rem;
		text-align: center;
		border-radius:10px;
		border:1px solid #999;
		background:#fff;
	}
}

.if-rt.status-0{ background:#fffccc; }
.if-rt.status-10{ background:#ffccff; }
.if-rt.status-20{ background:#FFCC00; }
.if-rt.status-30{ background:#00ff00; }
.if-rt.status-40{ background:#66ffcc; }
.if-rt.status-50{ background:#66ffcc; }
.if-rt.status-60{ background:#66ffcc; }
.if-rt.status-70{ background:#2E9DE6; color:#fff !important;}
.if-rt.status-80{ background:#c9c9c9; }

.icon-face0:before{ content:'\F141';  } //未填写
.icon-face10:before{ content:'\F119'; } //已拒绝
.icon-face20:before{ content:'\F141'; } //待核对
.icon-face30:before{ content:'\F141'; } //已核对
.icon-face40:before{ content:'\f017'; } //预定中
.icon-face50:before{ content:'\f017'; } //变更中
.icon-face60:before{ content:'\f017'; } //取消中
.icon-face70:before{ content:'\f00c'; } //已确认
.icon-face80:before{ content:'\F141'; } //已取消

.order-box.all .btn{ text-align:center;}
.order-box.all .btn a{
	display: inline-block;
	width:100%;
	height: .34rem;
	line-height: .34rem;
	color:#fff;
	background: #2E9DE6;
	border-radius: 5px;
	outline:none;
	border:0;
	font-size: .15rem;
}