.md-order{
	height:calc(100% - .9rem );
	background:#F2F2F2;
	overflow-y:auto;
	margin-top:.4rem;
	.order-box{

		margin:.2rem .1rem;

		.title{
			text-align: center;
			font-size: .14rem;
			position:relative;
			height: .3rem;

			span{
				display: inline-block;
				width:1.18rem;
				height: .3rem;
				line-height: .3rem;
				text-align: center;
				border:1px solid #999;
				border-radius:10px;
				background:#fff;
				position: absolute;
				left:50%;
				margin-left:-.59rem; 
				z-index: 2;
			}
			.line{
				position:absolute;
				width:100%;
				border:1px solid #999;
				left:0;
				top:.15rem;
				z-index: 1;
			}

		}


		.order-list{

			.order-info{

				overflow: hidden;
				background:#fff;
				height: .9rem;
				margin-top: .1rem;

				.if-lf{
					float: left;
					width:2.4rem;
					padding-left: .1rem;

					.order-title{
						height: .45rem;
						line-height:.45rem;
					}
					.order-person{
						height: .45rem;
						line-height: .45rem;

						span{
							display: inline-block;
							width:.65rem;

							em{
								font-style: normal;
							}
						}
					}
				}
				.if-rt{
					float:right;
					width:.75rem;
					height: .9rem;
					text-align: center;
					display: flex;
					justify-content: center;
					flex-direction: column;
					i{
						font-size: .2rem;
					}
					span{
						display: inline-block;
						width:100%;
					}
				}
				.if-rt.weitianxie{background:#fffccc;}
				.if-rt.daihedui{background:#FFCC00;}
				.if-rt.yiqueren{
					background:#2E9DE6;
					i{ color:#fff; }
				}
			}

		}
	}
}