
.md-visitor{

	height:calc( 100% - .5rem );
	overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    background:#f2f2f2;
 
	.top-btn{

		margin:.2rem;
		display: flex;
		justify-content: space-between;

		a{
			width:46%;
			height: .34rem;
			line-height: .34rem;
			color:#fff;
			font-size:.14rem;
			background: #2E9DE6;
			text-align: center;
			border-radius: 5px;
			text-decoration: none;
		}
		span{
			i{
				font-size:.18rem;
				margin-right: .05rem;
    			vertical-align: middle;
			}
		}

		a.share{
			background:#fff;
			border:1px solid #2E9DE6;
			color:#2E9DE6;
		}
	}
	.copy-url{
		padding:.1rem .2rem;
		border:1px solid #999;
		    word-break: break-word;
	}

	.user-list{
		//margin:0 .2rem;
		overflow: hidden;
		margin-bottom: .6rem;
		a{
			text-decoration: none;
		}
		.user-box{
			margin-bottom: .1rem;
			background:#fff;
			//float:left;
			position:absolute;
			left:0;
			width:100%;
			padding-left: .2rem;

			.username{
				height: .28rem;
				line-height: .28rem;
				color:#000;
				font-size:.16rem;

				label{
					display: inline-block;
					width:1rem;
					
				}
			}
			.userelse{
				height: .24rem;
				line-height: .24rem;
				color:#333;
				font-size:.14rem;
				label{
					display: inline-block;
					width:1rem;
					color: #a1a1a1;
				}
				.weitianxie{ color:#FF6600; }

				.icon-right{
					//float:right;
					font-size:.22rem;
					color:#333;
					position: absolute;
    				right: .5rem;
				}
			}
		}
	}
}
.user-wrap.left{  transform: translateX(-.6rem); }
.user-wrap{
	//overflow:hidden;
	position: relative;
	height:1.3rem;
	transform: translateX(0);
	transition: transform .3s;

	.user-delete{
		position:absolute;
		left:100%;
	    //float: left;
	    background: red;
	    height: 1.23rem;
	    line-height: 1.23rem;
	    color: #fff;
	    width: .6rem;
	    text-align: center;
	}
}
.copy-msg-tips{
	position:absolute;
	height:.5rem;
	line-height:.5rem;
	width:2.4rem;
	top:50%;
	left:50%;
	margin-left:-1.2rem;
	margin-top:-.25rem;
	text-align:center;
	background:rgba(0,0,0,.6);
	color:#fff;
	z-index:100000;
	opacity:0;
	transition:opacity .6s;

	&.show{
		opacity: 1;
	}
}