.cpt-datepicker{
	position: absolute;
	bottom:0;
	width:100%;
	background:#fff;
	font-size:16px;
	border-top: 1px solid #f3eeee;
	z-index:1000;

	.dp_panel{

		.dp_title{
			height: 2em;
			line-height: 2em;
			font-style: normal;
			text-align: center;
			font-size: 1em;
		}
		.dp_body{
			height: 10em;
			overflow: hidden;
			position:relative;
			text-align: center;
			list-style-type: none;
			ul{
				list-style-type: none;

				li{
					height:2em;
					line-height: 2em;

					&.dp_note{
						font-size: 1em;
					}
					&.selected{
						color:#2E9DE6;
					}
				}
				
			}
			.dp_item{
				float:left;
				width:33.33333333333%;
				height: 100%;
				overflow: hidden;
			}
			.dp_indicate{
				position:absolute;
				top:4em;
				left:0;
				width:100%;
				border-top:1px solid #d4d4d4;
				&:after{
					content: '';
					position:absolute;
					top:2em;
					left:0;
					width:100%;
					border-top:1px solid #d4d4d4;
				}
			}
		}

		.dp_confirm{
			border-top: 1px solid #d4d4d4;
			overflow: hidden;
			a{
				display: inline-block;
				height: 2em;
				line-height: 2em;
				text-align: center;
				float:left;
				width:50%;
				&.dp_ok{
					border-right:1px solid #e0e0e0;
				}
			}

		}
	}
}